{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    [
      "transform-class-properties"
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "src": "./src",
          "store": "./src/store",
          "containers": "./src/containers",
          "components": "./src/components"
        }
      }
    ]
  ]
}