.navbar-item {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 100%;
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid transparent;
    &.active {
      border-bottom: 2px solid rgb(255, 255, 255);
    }
  }
}